* {
  margin: 0px;
  padding: 0px;
}

/* start navbar  */
nav .brand-logo {
  text-align: center;
  margin: 50px;
}

nav .container {
  width: 90%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
}

nav .container .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  /* search-box */
}

nav .container .content ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #484848;
  font-size: 18px;
}

nav .container .content ul li a:hover, nav .container .content ul li a:active {
  color: #ffc80a;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}

nav .container .content ul li a i {
  text-decoration: none;
  text-transform: capitalize;
  color: #484848;
  font-size: 18px;
  margin-right: 10px;
}

nav .container .content ul li a i:hover, nav .container .content ul li a i:active {
  color: #ffc80a;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}

nav .container .content ul li h4 {
  text-transform: uppercase;
  margin-right: 15px;
  color: #484848;
  font-weight: normal;
  font-size: 18px;
}

nav .container .content ul li h4:hover {
  color: #c69a63;
}

nav .container .content ul li:hover, nav .container .content ul li:active {
  color: #ffc80a;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}

nav .container .content ul li form .search-box {
  position: relative;
  border: 1px solid #d1cece;
  background-color: #fff;
  border-radius: 40px;
  padding: 10px;
}

nav .container .content ul li form .search-box input {
  border: none;
  outline: none;
  background: none;
  padding: 0px;
  color: #484848;
  font-size: 16px;
  width: 90%;
  margin: auto;
}

nav .container .content ul li form .search-box i.fa-search::before {
  position: absolute;
  float: right;
  -webkit-transform: translate(-60%, -90%);
          transform: translate(-60%, -90%);
  color: #d1cece;
}

nav .container .content ul li form:active {
  border-color: #484848;
  -webkit-transition: 0.09s all;
  transition: 0.09s all;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2);
          box-shadow: rgba(0, 0, 0, 0.2);
}

/* start footer*/
footer .container .content .footeer-img {
  width: 100%;
  margin: 30px auto;
  text-align: center;
  position: relative;
}

footer .container .content .footeer-img::before, footer .container .content .footeer-img::after {
  content: "";
  width: 35%;
  height: 2px;
  background: #c2c2c2;
  top: 45%;
  position: absolute;
}

footer .container .content .footeer-img::before {
  left: 5%;
}

footer .container .content .footeer-img::after {
  right: 5%;
}

footer .container .content .sections {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0px;
}

footer .container .content .sections section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .container .content .sections section h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #373535;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 18px;
}

footer .container .content .sections section a {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #373535;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 8px;
  text-decoration: none;
  cursor: pointer;
}

footer .container .content .sections section a i.fa-facebook-f::before, footer .container .content .sections section a i.fa-instagram::before {
  font-size: 12px;
  border-radius: 50%;
  background-color: black;
  padding: 15px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* start main content */
main .container {
  margin: 50px;
}

main .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .content .card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.17), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.17), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  margin: 50px 20px;
  padding-bottom: 30px;
}

main .container .content .card a {
  text-decoration: none;
}

main .container .content .card img {
  width: 320px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .container .content .card h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-transform: capitalize;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 0px;
}

main .container .content .card hr {
  width: 70px;
  height: 0px;
  border-color: #c69a63;
  overflow: hidden;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 0px;
}

main .container .content .card p {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 24px;
  width: 60%;
  color: #484848;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 0px;
}

/* Article Page */
main .article-page .container {
  width: 80%;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .article-page .container .row .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .article-page .container .row .box h4 {
  margin: 20px 20px;
  font-size: 25px;
  font-weight: bold;
  color: #c69a63;
  font-family: Georgia, "Times New Roman", Times, serif;
}

main .article-page .container .row .box p {
  margin: 20px 20px;
  font-size: 15px;
  text-align: justify;
}

main .article-page .container .see-news {
  margin-left: 30px;
}

main .article-page .container .see-news .row {
  justify-items: center;
}

main .article-page .container .see-news .row hr {
  width: 10%;
  height: 2px;
  background: #707070;
}

main .article-page .container .see-news .row span {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

main .article-page .container .see-news .row a {
  text-decoration: none;
  text-align: right;
}

main .article-page .container .see-news .row a span {
  text-transform: capitalize;
  font-weight: normal;
  color: black;
  font-size: 11px;
  margin-right: 5px;
}

main .article-page .container .see-news .row a i {
  color: #ffc80a;
}

main .article-page .container .see-news .card {
  margin: 30px 0px;
}

/* News page */
main .news-page .container .content .header {
  width: 100%;
  margin: 20px auto;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: bold;
  color: #c69a63;
  text-align: center;
  position: relative;
}

main .news-page .container .content .header::after, main .news-page .container .content .header::before {
  content: "";
  width: 30%;
  height: 2px;
  background: #c2c2c2;
  top: 45%;
  position: absolute;
}

main .news-page .container .content .header::after {
  right: 15%;
}

main .news-page .container .content .header::before {
  left: 15%;
}

/* Movie Page */
main .movie-page {
  width: 95%;
  margin: auto;
}

main .movie-page .container .row img {
  width: 300px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .movie-page .container .row h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-transform: capitalize;
  position: relative;
}

main .movie-page .container .row h3::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 2px;
  background: #c69a63;
  top: 100%;
  left: 0px;
}

main .movie-page .container .row p {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 24px;
  width: 60%;
  color: #484848;
  overflow: hidden;
}

main .movie-page .container .row button {
  background-color: #ffc80a;
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}

main .movie-page .container .row .film-video {
  margin: 30px auto;
}

main .movie-page .container .row .film-video img {
  width: 100%;
  height: 100%;
  background-color: #c69a63;
  opacity: 0.3;
  position: relative;
  z-index: -1;
}

main .movie-page .container .row .film-video i {
  font-size: 40px;
  color: white;
  border: 5px solid white;
  border-radius: 50%;
  padding: 25px;
  -webkit-transform: translate(-720%, 320%);
          transform: translate(-720%, 320%);
  text-align: center;
  position: absolute;
  z-index: 99;
}

/* map page-brands */
main .map-page-brands .container {
  margin: 100px auto;
  /* left side */
  /* right side */
}

main .map-page-brands .container .left-side .search-box {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #c69a63;
  background-color: #fff;
  height: 18px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .map-page-brands .container .left-side .search-box input {
  position: absolute;
  border: none;
  outline: none;
  background: none;
  padding: 0px;
  color: #c2c2c2;
  font-size: 16px;
  margin-left: 30px;
  width: 90%;
}

main .map-page-brands .container .left-side .search-box i.fa-search {
  position: absolute;
  color: #c69a63;
}

main .map-page-brands .container .left-side .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
  padding: 10px;
}

main .map-page-brands .container .left-side .card img {
  width: 30px;
  height: 30px;
}

main .map-page-brands .container .left-side .card span {
  margin-top: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}

main .map-page-brands .container .left-side .numbers {
  padding: 12px;
}

main .map-page-brands .container .left-side .numbers .card {
  padding: 0px;
  margin-top: 30px;
  margin-right: 0px;
  border-radius: 0px;
}

main .map-page-brands .container .left-side .numbers .card span {
  font-size: 20px;
  text-align: center;
  margin: 5px 0px;
  font-weight: bold;
}

main .map-page-brands .container .left-side .numbers .card:hover {
  border-color: #c69a63;
  color: #c69a63;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  position: relative;
}

main .map-page-brands .container .left-side .numbers .card:hover::after {
  content: "";
  width: 100%;
  height: 6px;
  background: #c69a63;
  bottom: 0;
  position: absolute;
}

main .map-page-brands .container .left-side .numbers .col-md-2 {
  padding: 0px;
}

main .map-page-brands .container .right-side {
  width: 100%;
  height: 100%;
  margin-left: 50px;
}

main .map-page-brands .container .right-side img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .map-page-brands .container .right-side .restaurant-logos {
  width: 80%;
  margin: auto;
}

main .map-page-brands .container .right-side .restaurant-logos img {
  width: 60px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  text-align: center;
}

/* map page-brand page */
main .map-page-brands .left-side .map-page-brand-page {
  width: 100%;
  margin: auto;
}

main .map-page-brands .left-side .map-page-brand-page img {
  width: 230px;
  height: 160px;
  -o-object-fit: contain;
     object-fit: contain;
}

main .map-page-brands .left-side .map-page-brand-page h4 {
  text-transform: capitalize;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: #000;
  position: relative;
}

main .map-page-brands .left-side .map-page-brand-page h4::before {
  content: "";
  width: 20%;
  height: 2px;
  background: #ffc80a;
  top: 25px;
  position: absolute;
}

main .map-page-brands .left-side .map-page-brand-page .bebetto-content span {
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  color: #000;
}

main .map-page-brands .left-side .map-page-brand-page a.btn {
  background-color: #fff;
  border-color: darkgrey;
  -webkit-box-shadow: 0px 3px 4px 0, 0, 0, 0.15;
          box-shadow: 0px 3px 4px 0, 0, 0, 0.15;
  margin-top: 50px;
}

main .map-page-brands .left-side .map-page-brand-page a.btn i {
  margin-right: 10px;
  color: #c69a63;
}

/* Map Page - Categories */
main .map-page-brands .left-side .map-page-categories a.btn {
  background-color: #fff;
  border-color: darkgrey;
  -webkit-box-shadow: 0px 3px 4px 0, 0, 0, 0.15;
          box-shadow: 0px 3px 4px 0, 0, 0, 0.15;
  margin-top: 10px;
}

main .map-page-brands .left-side .map-page-categories a.btn i {
  margin-right: 10px;
  color: #c69a63;
}

main .map-page-brands .left-side .map-page-categories img {
  width: 10%;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 5px 20px;
  position: relative;
}

main .map-page-brands .left-side .map-page-categories img::before {
  content: '';
  width: 100%;
  height: 2px;
  color: black;
  text-align: center;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */